<div class="container">
  <div class="row mb-3">
    <div class="col-12 col-lg-5 justify-content-start align-items-start mb-lg-2">
      <h1 class="mb-2 mb-lg-0 text-truncate h3"><%= t('.title') %></h1>
    </div>
  </div>

  <div class="mt-4">
    <h2 class="h5 fw-bold"><%= t '.resource_title' %></h2>
  </div>

  <%= render partial: "resource_card", locals: {
          title: t('admin.dashboard.resource_card.account_title'),
          subtitle: t('admin.dashboard.resource_card.subtitle') } %>

</div>