<ul class="justify-content-between list-unstyled d-none d-md-flex mb-0">
  <li><%= link_to "Men", "#", class: "nav-link fw-500 mx-1" %></li>
  <li><%= link_to "Women", "#", class: "nav-link fw-500 mx-1" %></li>
</ul>