<div class="container container-md-fluid">
  <div class="row mb-3">
    <div class="col-12 col-lg-5 justify-content-start align-items-start mb-lg-2">
      <h1 class="mb-2 mb-lg-0 text-truncate h3"><%= t('.title') %></h1>
    </div>
  </div>

  <div class="card p-4">
    <%= render "admin/users/users", users: @users %>
  </div>
</div>
